version: 2
updates:
  - package-ecosystem: composer
    directories:
      - "/"
      - "/vendor-bin/*"
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
